body {
    margin:0;
}

header, footer {
    text-align: center;
    background-color: #2f9c95;
    color: white;
}

header{
    font-size: 40px;
}

nav{
    background-color: #a3f7b5;
    padding: 2px;
}

nav ul li{
    display: inline-block;
    margin-right: 10px;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

article {
    display: inline-block;
    background-color: #e5f9e0;
}

#title {
    text-align: center;
    font-size: 26px;
}

#info {
    padding: 20px;
}

table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 16px;
    font-weight: 400;
}

th:nth-child(1){
    font-weight: 600;
}

tr:nth-of-type(even){
    background-color: lightgrey;
}

section {
    padding: 20px;
}

img {
    float: right;
    margin-left: 10px;
}

aside {
    display: inline-block;
    font-style: italic;
    background-color: lightgray;
    vertical-align: top;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

iframe{
    flex-grow: 1;
}

footer{
    font-size: 24px;
    padding: 10px;
}